**/*.o
**/*.swp
System.map
Kernel_Image
bochsout.txt
boot/bootsect
boot/bootsect.s
boot/setup
boot/setup.s
core.*
tools/system
kernel/blk_drv/blk_drv.a
kernel/chr_drv/chr_drv.a
kernel/chr_drv/keyboard.s
kernel/math/math.a
lib/lib.a
system.S
Linux-0.12-Images/**
.vscode
gshell/**
miniCRT/**/test
miniCRT/**/minicrt.a
miniCRT/**/temp.txt
miniCRT/**/minicrt.h.gch
miniCRT/**/tinyhello/tinyhello
**/.fuse_*
