**/*.o
**/*.swp
bochsout.txt
src/boot/bootsect
src/boot/bootsect.s
src/boot/setup
src/boot/setup.s
src/core.*
src/tools/system
src/kernel/blk_drv/blk_drv.a
src/kernel/chr_drv/chr_drv.a
src/kernel/chr_drv/keyboard.s
src/kernel/math/math.a
src/lib/lib.a
Images/**
.vscode/c_cpp_properties.json
gshell/**
Demos/**/test/test
Demos/**/test/elfreader
Demos/**/libminicrt.a
Demos/**/temp.txt
Demos/**/minicrt.h.gch
!Demos/crt/test/*.c
!Demos/crt/test/Makefile
Demos/**/shell/src/minishell
**/.fuse_*
src/release/**
